.header{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(255,255,255);
    padding-left: 10px;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo-top{
    height: 65px;
}

.right-section {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.Home-container,
.About-container,
.Product-container,
.FAQ-container{
    margin-right: 50px;
}

.nav-link{
    text-decoration: none;
    font-size: 19px;
    color:rgb(79, 164, 79);
}

.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

body{
    margin: 0;
    padding-top: 65px;
    background-color: rgb(255, 255, 255);
}

.Mission{
    text-align: center;
    background-color: #97aec9;
    background-image: url("../image/Burger.jpg");
    background-size: cover;
    padding-top:100px;
    padding-bottom: 100px;
    margin-top: 0px;
    background-position: center;
}

.OurMission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    margin-top: 10px;
    margin-bottom:30px;
}

.OurTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    background-color: rgb(76, 163, 68);
}

.Departments{
    Display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.TechDe{
    border: solid;
    border-width: 5px;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
}

.BusinessDe{
    border: solid;
    border-width: 5px;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 0px 20px;
    background-color: white;
}

.CookingDe{
    border: solid;
    border-width: 5px;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 0px 20px;
    background-color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255)/*rgb(87, 85, 85);*/
}

.inside-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: white;
}

.left-footer{
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.left-footer p{
    width: 160px;
}

.socials{
    padding-left: 20px;
    padding-right: 20px;
}

.socials h1{
    color: rgb(79, 164, 79);/*rgb(42, 196, 196);*/
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 18px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: rgb(52, 116, 52);
    color: rgb(255, 255, 255);
}

.logo-footer{
    height:80px;
    display: block;
    margin: 0 auto;
}

.right-footer{
    padding-left: 20px;
    padding-right: 20px;
}
.right-footer h2{
    color:rgb(52, 116, 52);/*rgb(42, 196, 196)*/
}

.right-footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);/*white;*/
    display: block;
    margin-bottom: 10px;
}

.right-footer a:hover{
    color:rgb(42, 196, 196);
    cursor: pointer; 
}
