.header{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(42, 196, 196);
    padding-left: 10px;
}



.left-section {
    display: flex;
    align-items: center;
}

.logo-top{
    height: 65px;
}

.right-section {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.Home-container,
.About-container,
.Product-container,
.FAQ-container{
    margin-right: 50px
}

.nav-link{
    text-decoration: none;
    font-size: 19px;
    color:white;
}

.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

body{
    margin: 0;
    padding-top: 65px;
    background-color: rgb(255, 255, 255);
}

.ContactUsImage{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.ContactImage{
    width:30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section{
    height: 500px;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea{
    width:100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128,128,128, .199);
    margin-top: 5px;
}

textarea{
    resize: vertical;
}

button[type="Submit"]{
    /*width: 50%;*/
    border: none;
    outline: none;
    padding: 12px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(27,166,247);
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
    transition: .3s ease background-color;
}

button[type="Submit"]:hover{
    background-color: rgb(214,226,236);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(87, 85, 85);
    padding-bottom: 20px;
    padding-top: 10px;
}

.inside-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: white;
}

.left-footer{
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.left-footer p{
    width: 160px;
}

.socials{
    padding-left: 20px;
    padding-right: 20px;
}

.socials h1{
    color: rgb(42, 196, 196);
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 18px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.logo-footer{
    height:80px;
    display: block;
    margin: 0 auto;
}

.right-footer{
    padding-left: 20px;
    padding-right: 20px;
}
.right-footer h2{
    color:rgb(42, 196, 196)
}

.right-footer a{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.right-footer a:hover{
    color:rgb(42, 196, 196);
    cursor: pointer; 
}
