.header{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: rgb(42, 196, 196);
    padding-left: 10px;
}



.left-section {
    display: flex;
    align-items: center;
}

.logo-top{
    height: 65px;
}

.right-section {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.Home-container,
.About-container,
.Product-container,
.FAQ-container{
    margin-right: 50px
}

.nav-link{
    text-decoration: none;
    font-size: 19px;
    color:white;
}

.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*
======
body starts here
======
*/
body{
    margin: 0;
    padding-top: 65px;
    background-color: rgb(255, 255, 255);
}

.menu{
    font-family: 'Caveat';
    font-size: 20px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 3em;
}

.MainMenu-background{
    background-image: url("../image/background.png");
    background-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.MainMenu-heading{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.MainMenu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    margin-top: 0;
}

.MainMenu-item{
    display: flex;
}

.MainMenu-item-image{
    width:30%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.MainMenu-item-text{
    flex-grow: 1;
    border-color:rgb(0, 0, 0);
    border: solid;
    border-width: 5px;
    border-radius: 50px;
    padding: 10px;
}

.MainMenu-item-heading{
    margin: 0;
}

.MainMenu-item-name{
    margin-right: 1.5em;
}

.MainMenu-item-description{
    line-height: 1.6;
}

@media screen and (min-width: 992px){
    .menu{
        font-size:20px;
    }
    .MainMenu-group{
        grid-template-columns: 1fr 1fr;
    }
    .MainMenu-item-image{
        width:150px;
        height: 150px;
    }
}
/* 
======
Body goes up to here
==========
*/

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(87, 85, 85);
}

.inside-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer p{
    color: white;
}

.left-footer{
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.left-footer p{
    width: 160px;
}

.socials{
    padding-left: 20px;
    padding-right: 20px;
}

.socials h1{
    color: rgb(42, 196, 196);
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 18px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.logo-footer{
    height:80px;
    display: block;
    margin: 0 auto;
}

.right-footer{
    padding-left: 20px;
    padding-right: 20px;
}
.right-footer h2{
    color:rgb(42, 196, 196)
}

.right-footer a{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.right-footer a:hover{
    color:rgb(42, 196, 196);
    cursor: pointer; 
}
